.wrap {
  background-image: url(/img/bg_earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrap::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50vw;
  height: 3.16vw;
  background-image: url(/img/earth_shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}